<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="../static/css/suixingfu.css" />
	<title>随行付</title>
</head>
<body>
	<div class="zhifu">
		<div class="titile-top">
			<a href="#">
				<img src="../static/images/suixingfu.png" />
			</a>
		</div>
		<div class="con">
			<p><span style="">开始日期:</span><input id="start" type="date"></input></p>
			<p><span style="">结束日期:</span><input id="end" type="date"></input></p>
			<p><span ></span><a href="#" onclick="pp()">点击跳转到随行支付页面</a></p>
		</div>
	</div>
</body>
<script type="application/javascript" src="../static/js/jquery.js"></script>
<script type="application/javascript" src="../static/js/suixingfu.js"></script>
<script> var ctx1 = "http://localhost:8080"</script>
</html>